.form-label {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-weight: 600; /* Semi Bold */
  font-style: normal;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  display: block;
  margin-bottom: 6px;
}
.arrow {
  position: relative; /* or 'absolute', 'fixed' depending on your layout */
  transform: translate(-150px, -80px);
  /* transform: translateX(-380px); */
  z-index: 10000;
}
.sub-btn {
  width: 250;
  height: 100;
  font-family: Montserrat;
  color: white;
  font-weight: 700;
  font-style: Bold;
  font-size: 19px;
  line-height: 100%;
  letter-spacing: 0.5%;

  background: #ffae00;

  box-shadow: 0px 4px 4px 0px #f77e004d;
  opacity: 1;
  border-radius: 200px;
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 28px;
  gap: 12px;
}
.name-input {
  width: 277px;
  height: 40px;
  opacity: 1;
  border: 2px solid #ffae00;
  background: transparent;
  color: white;
}
.margin-right {
  margin-right: 45px;
}

.form-input {
  width: 719px;
  height: 40px;
  background: transparent;
  color: white;
  border: 2px solid #ffae00;
}
.text-area {
  width: 719px;
  height: 108px;
  background: transparent;
  color: white;
  border: 2px solid #ffae00;
}
.detail {
  font-family: Montserrat;
  font-weight: 700;
  font-style: Bold;
  font-size: 19px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0.5%;
}

.optional-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;  /* Regular */
  font-size: 17px;
  color: #ffffff;    /* adjust if background is light */
  opacity: 0.8;
}
